h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(110, 110, 110);
    margin-top: 30px;
}

p{
    font-size: 18px;
    color: rgb(110, 110, 110);
}

.p-size{
    font-size: 16px;
}

.bg-primary{
    border-width: 2px;
}

.column_mobile{
    margin-left: 30px;
}
